@font-face {
  font-family: "StarWars";
  src: url(/backstage/Futura\ Display.ttf);
}

body {
  font-family: "StarWars";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/backstage/fondo.png);
  background-size: contain;
  background-attachment: fixed;
  color: white;
}

.barrita {
  display: flex;
  justify-content: space-around;
  letter-spacing: 3px;
  flex-wrap: wrap;
  margin-top: 2%;
}

.botonsitos {
  font-family: StarWars;
  width: 150px;
  height: 50px;
  font-size: 35px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color;
}

.botonsitos:hover {
  color: #c7c31c;
}

.contenedor {
  width: 50%;
  height: 50vh;
  text-align: center;
  overflow: hidden;
  letter-spacing: 2px;
  font-size: 30px;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgba(70, 69, 69, 0.24);
  border-radius: 30px;
}

.contenedor2 {
  display: none;
}

.contenedor2-active {
  display: flex;
  align-items: center;
  height: 50vh;
}

.grande {
  display: flex;
  margin-top: 3%;
  margin-left: 11%;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60vh;
  flex-wrap: wrap;
}

.contenedor::-webkit-scrollbar {
  display: none;
}

.texto_oculto {
  display: none;
}

strong {
  color: #bdba1c9a;
}

.submenus {
  display: none;
}

.submenus-active {
  display: grid;
  background-color: rgba(0, 0, 0, 0.432);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  color: white;
  width: auto;
  height: auto;
  font-size: 25px;
  line-height: 55px;
  position: relative;
  left: 0;
  margin-top: 35px;
}

.submenusVerMas {
  display: none;
}
.submenusVerMasCategories {
  display: none;
}
.submenusPlanetsSpecific{
  display: none;
}

.submenusVerMas-active {
  display: grid;
  background-color: rgba(0, 0, 0, 0.432);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  color: white;
  width: auto;
  height: auto;
  font-size: 25px;
  line-height: 55px;
  position: relative;
  left: 0;
  margin-top: 35px;
}
.submenusVerMasCategories-active {
  display: flex;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  color: white;
  width: auto;
  height: auto;
  font-size: 25px;
  line-height: 55px;
  position: relative;
  left: 0;
  margin-top: 35px;
}
.submenusPlanetsSpecific-active{
  display: flex;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  color: white;
  width: auto;
  height: auto;
  font-size: 25px;
  line-height: 55px;
  position: relative;
  left: 0;
  margin-top: 35px;
}

.botonistos-submenu {
  background-color: transparent;
  color: white;
  font-size: 25px;
  border: none;
  font-family: StarWars;
  cursor: pointer;
  margin-top: 15px;
}

.botonistos-submenu:hover {
  color: #c7c31c;
}

/* Estilos para pantallas de hasta 1680px */
@media (max-width: 1680px) {
  #submenuFilms,
  #submenuPlanets,
  #submenuVehicles,
  #submenuCharacters,
  #submenuSpecies,
  #submenuStarships,
  #verMasFilms,
  #filmCategories {
    position: relative;
    left: 0;
    margin-top: 35px;
  }

  .submenusVerMas-active {
    position: relative;
    left: 0;
    margin-top: 35px;
  }
}

/* Estilos para pantallas de hasta 1280px */
@media (max-width: 1280px) {
  #submenuFilms,
  #submenuPlanets,
  #submenuVehicles,
  #submenuCharacters,
  #submenuSpecies,
  #submenuStarships,
  #verMasFilms,
  #filmCategories {
    position: relative;
    left: 0;
    margin-top: 35px;
  }

  .submenusVerMas-active {
    position: relative;
    left: 0;
    margin-top: 35px;
  }

  .contenedor {
    display: flex;
    width: 90%;
    align-items: center;
  }

  .contenedor2-active img {
    width: 450px;
  }
}

/* Estilos para pantallas de hasta 768px */
@media (max-width: 768px) {
  #submenuFilms,
  #submenuPlanets,
  #submenuVehicles,
  #submenuCharacters,
  #submenuSpecies,
  #submenuStarships,
  #verMasFilms,
  #filmCategories {
    position: relative;
    left: 0;
  }

  .submenusVerMas-active {
    position: relative;
    left: 0;
  }

  .contenedor {
    display: flex;
    width: 90%;
    align-items: center;
    margin-top: 15px;
  }

  .contenedor2-active img {
    width: 250px;
  }

  .barrita {
    margin-bottom: 15px;
  }
}
